<header class="row header-img my-4">
    <!-- heading -->
    <div class="col col-8">
        <h1>l+m Crossing</h1>
        <ul class="mugshot-row">
            <li class="d-inline">
                <img class="mugshot" src="assets/icons/lily450x450.png" alt="lily">
            </li>
            <li class="d-inline">
                <img class="mugshot" src="assets/icons/mike450x450.png" alt="mike">

            </li>
            <li class="d-inline">
                <img class="mugshot" src="assets/icons/ethan450x450.png" alt="ethan">

            </li>
            <li class="d-inline">
                <img class="mugshot" src="assets/icons/max450x450.png" alt="max">

            </li>
        </ul>

    </div>

    <!-- empty div -->
    <div class="col"></div>

    <!-- navigation menu for small screens. shows a hamburger menu-->
    <div class="col d-sm-none" role="navigation">
        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false"><i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            fill="black" width="24px" height="24px">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" /></svg></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Home</a>
                    <a class="dropdown-item" href="#">Posts</a>
                    <a class="dropdown-item" href="#">About</a>
                </div>
            </li>
        </ul>
    </div>


    <!-- Regular navigation menu for medium to large screens-->
    <div class="col d-none d-sm-block">
        <ul class="nav" role="navigation">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</header>